body {
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
}

body * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

ul li:not(nav ul li) {
    margin-inline-start: 1rem;
    padding-inline-start: 0.5rem;
}

.grid {
    display: grid;
    gap: 1em;
}

.gap-1-5 {
    gap: 1.5em !important;
}

.gap-2 {
    gap: 2em !important;
}

.gap-3 {
    gap: 3em !important;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-1-2 {
    grid-template-columns: 1fr 2fr;
}

.grid-1-3 {
    grid-template-columns: 1fr 3fr;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-2-1 {
    grid-template-columns: 2fr 1fr;
}

.grid-2-3 {
    grid-template-columns: 2fr 3fr;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-3-1 {
    grid-template-columns: 3fr 1fr;
}

.grid-3-2 {
    grid-template-columns: 3fr 2fr;
}

.grid-5-3 {
    grid-template-columns: 5fr 3fr;
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

@media screen and (min-width: 769px) {
    .pc-hide {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .m-justify-items-center {
        justify-items: center;
    }

    .mobile-hide {
        display: none !important;
    }

    .m-grid-1 {
        grid-template-columns: 1fr;
    }

    .m-grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .m-grid-2-1 {
        grid-template-columns: 2fr 1fr;
    }

    .m-grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .m-grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .m-grid-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.no-margin {
    margin: 0 !important;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.horizontal-scroll > * {
    white-space: normal;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobile-horizontal-scroll {
        overflow-x: auto;
        white-space: nowrap;
    }
    .mobile-horizontal-scroll > * {
        white-space: normal;
    }

    .mobile-horizontal-scroll > .m-w80 {
        min-width: 80vw;
        width: 80vw;
    }
}

@media screen and (max-width: 1200px) {
    .tablet-horizontal-scroll {
        overflow-x: auto;
        white-space: nowrap;
    }
    .tablet-horizontal-scroll > * {
        white-space: normal;
    }
}
