:root {
    --black: #000000;
    --white: #ffffff;
    --purple: #4C40DC;
    --green: #C0EF5D;
    --darker-green: #AAD451;
    --darker-purple: #3F34C1;
    --grey: #E6E9F0;
    --dark: #262626;
    --black40: rgba(0, 0, 0, 0.4);
    --primary: var(--purple);

    --content-fixed-width: 1416px;
    --content-width: min(var(--content-fixed-width), 90vw);
    --content-mobile-width: min(var(--content-fixed-width), 84vw);
    --content-padding-x: max(calc(50vw - calc(var(--content-fixed-width) / 2)), 5vw);
    --content-padding: 0 var(--content-padding-x);

    --text-size: 20px;
    --header-1: calc(var(--text-size) * 4);			/* 80 */
    --header-2: calc(var(--text-size) * 3.2);		/* 64 */
    --header-3: calc(var(--text-size) * 2.8);		/* 56 */
    --header-4: calc(var(--text-size) * 2.4);       /* 48 */
    
    --xxx-large: calc(var(--text-size) * 5.5);		/* 110 */
    --xx-large: calc(var(--text-size) * 4);		    /* 80 */
    --x-large: calc(var(--text-size) * 3.2);        /* 64 */
    --large: calc(var(--text-size) * 2.8);          /* 56 */
    --m-large: calc(var(--text-size) * 2.4);		/* 48 */
    --medium: calc(var(--text-size) * 1.8);         /* 36 */
	--button-text: calc(var(--text-size) * 1.2);	/* 24 */
    --descriptor: calc(var(--text-size) * 1.2);     /* 24 */
    --subtitle: calc(var(--text-size) * 0.9);       /* 18 */
    --tiny: calc(var(--text-size) * 0.8);           /* 14 */

    --radius: 40px;
    --default-shadow: 5px 5px 15px #4C40DC16,
        -5px -5px 15px #4C40DC16;
}

@media screen and (max-width: 768px) {
    :root {
        --text-size: 14px;

        --content-width: calc(100vw - 48px);

        --header-1: calc(var(--text-size) * 2.6);	    /* 36 */
        --header-2: calc(var(--text-size) * 2.3);		/* 32 */
        --header-3: calc(var(--text-size) * 1.7);		/* 24 */
        --header-4: calc(var(--text-size) * 1.4);       /* 20 */
        --medium: calc(var(--text-size) * 1.2);         /* 18 */
        --button-text: calc(var(--text-size) * 1.1);	/* 16 */
        --subtitle: calc(var(--text-size) * 0.9);       /* 12 */

        --radius: 20px;
    }
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (min-width: 768px) {
    html {
        scroll-behavior: smooth;
        scroll-snap-type: y proximity;
    }
}

.button-text {
	font-size: var(--button-text);
}

.has-shadow {
    box-shadow: var(--default-shadow);
}

.has-radius {
    border-radius: var(--radius);
}

.no-margin {
    margin: 0;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.medium-text {
    font-size: var(--medium);
}

h1.heading.large {
    font-size: var(--xxx-large);
    font-weight: 700;
    color: white;
}

body {
    font-family: 'Gilroy';
    background-color: #F4F6FB;
    color: var(--black);
    font-size: var(--text-size);
    line-height: 1.2;
}

small {
    font-weight: 400;
    font-size: var(--tiny);
}

main > section > div.content {
    display: block;
    position: relative;
    margin: 0 auto;
    width: var(--content-width);
}

section {
    padding: 3em 0;
}

section.intro {
    display: block;
    position: relative;
    min-height: 100vh;
    padding: 1em 0;
    padding-top: 0em;
    background-image: url("/img/intro-back.svg");
    background-position: center;
    background-repeat: no-repeat;
}

section.intro > div.content {
    display: block;
    position: relative;
    color: white;
    background-color: var(--primary);
    border-radius: var(--radius);
    padding: 4em 6em;
    box-shadow: var(--default-shadow);
}

.marathon-text {
    margin-bottom: -2em;
}

.grid-1-1-2 {
    display: grid;
    position: relative;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 2fr;
}

@media screen and (max-width: 768px) {
    .grid-1-1-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "first second"
                            "third third";
    }

    .grid-1-1-2 > .card.black-card-1 {
        grid-area: first;
    }

    .grid-1-1-2 > .card.black-card-2 {
        grid-area: second;
    }

    .grid-1-1-2 > .card.black-card-3 {
        grid-area: third;
    }
}

.grid-gallery {
    display: grid;
    position: relative;
    grid-gap: 1em;
    grid-template-areas: 
        "purple purple one two"
        "purple purple three four"
        "purple purple five five";
    grid-template-columns: repeat(4, 1fr);
}

.grid-gallery  > .card.gallery-purple {
    grid-area: purple;
    background-image: url("/img/success-background.svg");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 100%;
}

.grid-gallery  > .card.gallery-purple::after {
    content: "";
    display: block;
    position: absolute;
    height: 642px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: url("/img/success-girl.png");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 90%;
}

.grid-gallery  > .card.gallery-one,
.grid-gallery  > .card.gallery-two,
.grid-gallery  > .card.gallery-three,
.grid-gallery  > .card.gallery-four {
    min-height: 336px;
}

.grid-gallery  > .card.gallery-one > p,
.grid-gallery  > .card.gallery-two > p,
.grid-gallery  > .card.gallery-three > p,
.grid-gallery  > .card.gallery-four > p {
    font-size: var(--button-text);
}

.grid-gallery  > .card.gallery-one {
    display: grid;
    position: relative;
    grid-template-rows: 1fr auto;
    grid-area: one;
}

.grid-gallery  > .card.gallery-two {
    grid-area: two;
}

.grid-gallery  > .card.gallery-three {
    grid-area: three;
}

.grid-gallery  > .card.gallery-four {
    grid-area: four;
}

.grid-gallery  > .card.gallery-five {
    grid-area: five;
}

div.card.black-card-1:not(.sfa),
div.card.black-card-2:not(.sfa),
div.card.black-card-3:not(.sfa) {
    display: grid;
    grid-gap: 0;
    align-content: end;
    background-repeat: no-repeat;
    background-position: 100px -100px;
    background-size: 100%;
}

div.card.black-card-1:not(.sfa) {
    background-image: url("/img/texture-1.svg");
}

div.card.black-card-2:not(.sfa) {
    background-image: url("/img/texture-2.svg");
}

div.card.black-card-3:not(.sfa) {
    background-image: url("/img/texture-3.svg");
    background-position: 200px -100px;
}

@media screen and (min-width: 769px) {
    div.card.black-card-1:not(.sfa),
    div.card.black-card-2:not(.sfa),
    div.card.black-card-3:not(.sfa) {
        min-height: 336px;
    }

    p.intro-content {
        max-width: 60%;
    }

    h1.success-title::before {
        content: "";
        display: block;
        position: absolute;
        height: 135px;
        width: 242px;
        top: 20px;
        left: 235px;
        z-index: 0;
        background-image: url("/img/success.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

@media screen and (max-width: 768px) {
    div.card.black-card-1:not(.sfa),
    div.card.black-card-2:not(.sfa),
    div.card.black-card-3:not(.sfa) {
        min-height: 148px;
        padding: 1em !important;
        background-position: 100% 0;
        background-size: 60%;
    }

    .grid-gallery  > .card.gallery-one,
    .grid-gallery  > .card.gallery-two,
    .grid-gallery  > .card.gallery-three,
    .grid-gallery  > .card.gallery-four {
        min-height: unset;
        padding: 1em !important;
    }

    .grid-gallery  > .card.gallery-one > p,
    .grid-gallery  > .card.gallery-two > p,
    .grid-gallery  > .card.gallery-three > p,
    .grid-gallery  > .card.gallery-four > p {
        font-size: var(--text-size);
    }

    .grid-gallery  > .card.gallery-purple {
        min-height: 450px;
    }

    .grid-gallery {
        grid-gap: 1em;
        grid-template-areas: 
            "purple purple"
            "purple purple"
            "one two"
            "three four"
            "five five";
        grid-template-columns: repeat(2, 1fr);
    }
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.black-text {
    color: black !important;
}

.white-text {
    color: white !important;
}

.giveaway-signup {
    display: block;
    position: relative;
}

h2.audience-title::before {
    content: "";
    display: block;
    position: absolute;
    width: 197px;
    height: 78px;
    bottom: -17px;
    left: 15px;
    background-image: url("/img/for-those.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (min-width: 769px) {
    .checkboxes-wrapper {
        max-width: 75%;
    }

    .card.checkboxes {
        background-image: url("/img/checkbox-bg.svg");
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 100% 0%;
    }

    .card.giveaway {
        background-image: url("/img/purple-net.svg");
        background-repeat: no-repeat;
        background-position: 100% 0%;
        background-size: 50%;
    }

    .giveaway-signup::after {
        content: "";
        display: block;
        position: absolute;
        width: 129px;
        height: 149px;
        top: -80%;
        left: 13%;
        background-image: url("/img/signup-arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.card.signup-block {
    background-image: url("/img/signup-vector.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 100% 0;
}

section.intro > .content {
    overflow: hidden;
}

section.intro > .content > *:not(.parallax-image) {
    position: relative;
    z-index: 20;
}

.parallax-image {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.1s linear;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.parallax-image#prlx-1 {
    background-image: url("/img/parallax/mesh.svg");
    z-index: 10;
    width: 600px;
    height: 600px;
}

.parallax-image#prlx-2 {
    background-image: url("/img/parallax/woman.png");
    z-index: 11;
    right: 50px;
    width: 470px;
    height: 643px;
}

.parallax-image#prlx-3 {
    background-image: url("/img/parallax/zigzag.svg");
    z-index: 12;
    right: 60px;
    width: 728px;
    height: 315px;
}

.parallax-image#prlx-4 {
    background-image: url("/img/parallax/line.svg");
    z-index: 13;
    width: 360px;
    height: 238px;
}

.tickets-wrapper {
    display: grid;
    position: relative;
    place-content: center;
    padding-top: 2em;
}

.tickets-wrapper > * {
    grid-row: 1;
    grid-column: 1;
}

section.intro,
section.features,
section.info,
section.giveaway,
section.audience,
section.checkboxes,
section.program,
section.signup,
section.footer {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

section.footer {
    padding: 0;
}

footer {
    scroll-snap-align: end;
}

section.features {
    --section-padding: min(max(calc(2vh + 8px), 1em), 3em);

    scroll-snap-stop: always;
    padding: var(--section-padding);
    min-height: 150vh;
    height: calc(100vh + calc(600px * 4) + 300px);
}

section.features > .content {
    position: sticky;
    top: var(--section-padding);
}

section.features > .content p.button-text {
    margin-top: max(1em, 4vh);
    margin-bottom: max(0.5em, 2vh);
}

.sticky-btn {
    display: inline-block;
    position: fixed;
    top: 0;
    right: var(--content-padding-x);
    background-color: white;
    border-radius: 0 0 var(--radius) var(--radius);
    padding: 1.2em;
    z-index: 20;
    box-shadow: var(--default-shadow);
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}

@media screen and (max-width: 768px) {
    .card.giveaway {
        text-align: center;
    }

    h2.audience-title::before {
        width: 108px;
        height: 43px;
        bottom: -12px;
        left: 0;
    }

    section.intro > div.content {
        padding: 1.2em;
        text-align: center;
    }

    header {
        position: sticky;
        background-color: #F4F6FB;
        border-radius: 0 0 var(--radius) var(--radius);
        top: 0;
        z-index: 30;
    }

    .parallax-image {
        transform: none !important;
    }

    .parallax-image#prlx-1 {
        background-size: contain;
        width: 86%;
        height: 282px;
    }
    
    .parallax-image#prlx-2 {
        background-size: contain;
        width: 100%;
        height: 250px;
        left: 0;
    }
    
    .parallax-image#prlx-3 {
        background-size: contain;
        left: 0;
        width: 79%;
        height: 134px;
    }
    
    .parallax-image#prlx-4 {
        background-size: contain;
        width: 50%;
        height: 110px;
    }
}