:root {
    --black: #000000;
    --white: #ffffff;
    --purple: #4C40DC;
    --green: #C0EF5D;
    --darker-green: #AAD451;
    --darker-purple: #3F34C1;
    --grey: #E6E9F0;
    --dark: #262626;
    --black40: rgba(0, 0, 0, 0.4);
    --primary: var(--purple);

    --content-fixed-width: 1416px;
    --content-width: min(var(--content-fixed-width), 90vw);
    --content-mobile-width: min(var(--content-fixed-width), 84vw);
    --content-padding-x: max(calc(50vw - 760px), calc(5vw - 7px));
    --content-padding: 0 var(--content-padding-x);

    --text-size: 20px;
    --header-1: calc(var(--text-size) * 4);			/* 80 */
    --header-2: calc(var(--text-size) * 3.2);		/* 64 */
    --header-3: calc(var(--text-size) * 2.8);		/* 56 */
    --header-4: calc(var(--text-size) * 2.4);       /* 48 */
    
    --xxx-large: calc(var(--text-size) * 5.5);		/* 110 */
    --xx-large: calc(var(--text-size) * 4);		    /* 80 */
    --x-large: calc(var(--text-size) * 3.2);        /* 64 */
    --large: calc(var(--text-size) * 2.8);          /* 56 */
    --m-large: calc(var(--text-size) * 2.4);		/* 48 */
    --medium: calc(var(--text-size) * 1.8);         /* 36 */
	--button-text: calc(var(--text-size) * 1.2);	/* 24 */
    --descriptor: calc(var(--text-size) * 1.2);     /* 24 */
    --subtitle: calc(var(--text-size) * 0.8);       /* 16 */
    --tiny: calc(var(--text-size) * 0.6);           /* 12 */

    --radius: 40px;
    --default-shadow: 5px 5px 15px #4C40DC16,
        -5px -5px 15px #4C40DC16;
}

@media screen and (max-width: 1500px) {
	:root {
		--xxx-large: calc(var(--text-size) * 5);
		--header-1: calc(var(--text-size) * 5);
	}
}

@media screen and (max-width: 768px) {
    :root {
        --xxx-large: calc(var(--text-size) * 2.5);		/* 40 */
        --header-2: calc(var(--text-size) * 2.5);		/* 40 */
        --xx-large: calc(var(--text-size) * 2);			/* 32 */
		--x-large: calc(var(--text-size) * 1.875);		/* 30 */
		--large: calc(var(--text-size) * 1.5);			/* 24 */
		--m-large: calc(var(--text-size) * 1.35);		/* 22 */
        --medium: calc(var(--text-size) * 1.25);		/* 20 */
        --header-3: calc(var(--text-size) * 1.125);		/* 18 */
        --header-4: calc(var(--text-size) * 0.875);		/* 14 */
        --button-text: calc(var(--text-size) * 0.875);	/* 14 */
		--subtitle: calc(var(--text-size) * 0.75);		/* 12 */
		--tiny: calc(var(--text-size) * 0.625);			/* 10 */
    }
}

.button-text {
	font-size: var(--button-text);
}

.no-margin {
    margin: 0;
}

.no-top-margin {
    margin-top: 0;
}

h1.heading.large {
    font-size: var(--xxx-large);
    font-weight: 700;
    color: white;
}

body {
    font-family: 'Gilroy';
    background-color: #F4F6FB;
    color: var(--black);
    font-size: var(--text-size);
}

main > section > div.content {
    display: block;
    position: relative;
    margin: 0 auto;
    width: var(--content-width);
}

section.intro {
    display: block;
    position: relative;
    min-height: 100vh;
    padding: 1em 0;
    padding-top: 0em;
    background-image: url("/img/intro-back.svg");
    background-position: center;
    background-repeat: no-repeat;
}

section.intro > div.content {
    display: block;
    position: relative;
    color: white;
    background-color: var(--primary);
    border-radius: var(--radius);
    padding: 4em 6em;
    box-shadow: var(--default-shadow);
}

p.intro-content {
    max-width: 60%;
}

.marathon-text {
    margin-bottom: -2em;
}

.grid-1-1-2 {
    display: grid;
    position: relative;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 2fr;
}

.grid-gallery {
    display: grid;
    position: relative;
    grid-gap: 1em;
    grid-template-areas: 
        "purple purple one two"
        "purple purple three four"
        "purple purple five five";
    grid-template-columns: repeat(4, 1fr);
}

.grid-gallery  > .card.gallery-purple {
    grid-area: purple;
    background-image: url("/img/success-background.svg");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 100%;
}

.grid-gallery  > .card.gallery-purple::after {
    content: "";
    display: block;
    position: absolute;
    height: 642px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: url("/img/success-girl.png");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 90%;
}

h1.success-title::before {
    content: "";
    display: block;
    position: absolute;
    height: 135px;
    width: 242px;
    top: 84px;
    left: 266px;
    z-index: 0;
    background-image: url("/img/success.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.grid-gallery  > .card.gallery-one {
    display: grid;
    position: relative;
    grid-template-rows: 1fr auto;
    min-height: 336px;
    grid-area: one;
}

.grid-gallery  > .card.gallery-two {
    min-height: 336px;
    grid-area: two;
}

.grid-gallery  > .card.gallery-three {
    min-height: 336px;
    grid-area: three;
}

.grid-gallery  > .card.gallery-four {
    min-height: 336px;
    grid-area: four;
}

.grid-gallery  > .card.gallery-five {
    grid-area: five;
}

div.card.black-card-1:not(.sfa),
div.card.black-card-2:not(.sfa),
div.card.black-card-3:not(.sfa) {
    min-height: 336px;
    display: grid;
    grid-gap: 0;
    align-content: end;
    background-repeat: no-repeat;
    background-position: 100px -100px;
    background-size: 100%;
}

div.card.black-card-1:not(.sfa) {
    background-image: url("/img/texture-1.svg");
}

div.card.black-card-2:not(.sfa) {
    background-image: url("/img/texture-2.svg");
}

div.card.black-card-3:not(.sfa) {
    background-image: url("/img/texture-3.svg");
    background-position: 200px -100px;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}
